<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href=/order.css>
	<title>Animal House</title>
</head>

<body>
	<div class="wrapper">
		<main class="page order">
			<form action="/order" method="POST" class="form-order">
				<h1 class="form-order__title">Booking</h1>
				<div class="form-order__descr">Fill out the form, we will get back to you within the next short while</div>
				<div class="form-order__fields">
					<fieldset class="form-order__fieldset">
						<input type="text" class="form-order__input form-order__input-name" name="name" placeholder="Owner's name" value="<%- inputsValue.name %>">
					</fieldset>
					<fieldset class="form-order__fieldset">
						<input type="tel" name="phone" class="form-order__input form-order__input-phone" placeholder="Phone number" value="<%- inputsValue.phone %>">
					</fieldset>
					<fieldset class="form-order__fieldset">
						<input type="email" name="email" class="form-order__input form-order__input-email" placeholder="Email" value="<%- inputsValue.email %>">
					</fieldset>
					<fieldset class="form-order__fieldset">
						<select name="animal" class="form-order__select">
							<option value="Type of animal" disabled <%- !values[1] ? 'selected' : '' %>>Type of animal</option>
							<% if (values[0] && values[0].length) { %>
								  <% values[0].forEach(function(obj, index) { %>
									<% if (index + 1 === values[1]) { %>
										<option value="<%- obj.id %>" selected><%- obj.type %></option>
									<% } else { %>
										<option value="<%- obj.id %>"><%- obj.type %></option>
								  	<% } %>
								  <% }) %>
							 <% } %>
						</select>
					</fieldset>
					<fieldset class="form-order__fieldset">
						<input type="text" name="nickname" class="form-order__input form-order__input-nickname" placeholder="Nickname" value="<%- inputsValue.nickname %>">
					</fieldset>
					<fieldset class="form-order__fieldset">
						<textarea type="text" name="comment" class="form-order__input form-order__input-comment" placeholder="Your comments"><%- inputsValue.comment %></textarea>
					</fieldset>
					<fieldset class="form-order__fieldset">
						<input type="text" name="arrivalDate" class="form-order__input form-order__input-arrival-date" placeholder="Arrival date" value="<%- inputsValue.arrivalDate %>">
					</fieldset>
					<fieldset class="form-order__fieldset">
						<input type="text" name="departureDate" class="form-order__input form-order__input-departure-date" placeholder="Date of departure" value="<%- inputsValue.departureDate %>">
					</fieldset>
				</div>
				<button type="submit" class="form-order__submit">SEND</button>
				<% if (errors && errors.length) { %>
					<div class="form-order__errors">
					  <% errors.forEach(function(error) { %>
						 <div class="form-order__error"><%= error %></div>
					  <% }) %>
					</div>
				 <% } %>
			</form>
		</main>
	</div>
	<script src="/app.bundle.js"></script>
</body>

</html>